@media only screen and (max-width: 767px){
    .grid-container {
        display: grid;
        grid-template-columns: 240px 240px;
        grid-template-rows: 75px 150px 125px 125px 250px 250px 80px;
        grid-template-areas: "header header" "nav nav" "ad ad" "elm-nav elm-nav" "elm1 elm2" "elm3 elm4" "footer footer";
    }
    .footer { 
        grid-area: footer; 
        background-color: rgb(150, 46, 46);
        text-align: center;
        line-height: 80px;
    }
}
@media only screen and (min-width: 768px){
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "header header header header header" "nav ad ad elm-nav elm-nav" "nav elm1 elm2 elm3 elm4" "nav elm1 elm2 elm3 elm4" "nav footer footer footer footer";
        justify-content: center;
    }
    .footer { 
        grid-area: footer; 
        background-color: rgb(72, 173, 13);
        text-align: center;
        line-height: 9em;
    }
}
