body{
    border-style: solid;    
    }
    
    main{
        background-color: rgb(247, 247, 247);
        width:  960px;
        height: 700px;
        margin-right: auto;
        margin-left:auto;
        position: relative;
    }
    
    .a {
        background-color: rgb(59, 26, 26);
        width: 960px;
        height: 100px;
        text-align: center;
        vertical-align: middle;
        line-height: 100px;
    }
    .b {
        background-color: rgb(43, 199, 152);
        float: left;
        width: 200px;
        height: 600px;
        text-align: center;
        vertical-align: middle;
        line-height: 600px;
    }
    .cd{
        display: inline-block;
        width: 760px;
        height: 200px;
        background-color: rgb(128, 120, 14);
        position: relative;
        text-align: center;
        vertical-align: middle;
        line-height: 200px;
    }
    .c {
        background-color: rgb(196, 111, 170);
        width: 380px;
        height: 200px;
    
    }
    .d {
        background-color: rgb(145, 85, 223);
        width: 380px;
        height: 200px;
        position: absolute;
        top: 0;
        left: 380px;
    
    }
    .efgh{
        background-color: rgb(209, 122, 22);
        display: inline-block;
        height: 250px;
        width: 760px;
        position: relative;
        text-align: center;
        vertical-align: middle;
        line-height: 250px;
    }
    .e{
        background-color: rgb(59, 23, 44);
        height: 250px;
        width: 190px;
    }
     .f{
        background-color: rgb(102, 31, 5);
        height: 250px;
        width: 190px;
        position: absolute;
        top: 0;
        left: 190px;
    }
    .g{
        background-color: rgb(182, 11, 11);
        height: 250px;
        width: 190px;
        position: absolute;
        top: 0;
        left: 380px;
    }
    .h{
        background-color: rgb(5, 65, 88);
        height: 250px;
        width: 190px;
        position: absolute;
        top: 0;
        left: 570px;
    }
    .i{
        background-color: rgb(238, 158, 121);
        height: 150px;
        width: 760px;
        position: absolute;
        left: 200px;
        text-align: center;
        vertical-align: middle;
        line-height: 150px;
    }
    @media (max-width:480px){
        main{
            background-color: rgba(75, 40, 158, 0.603);
            width:  480px;
            margin-right: auto;
            margin-left:auto;
            position: relative;
      
        }
        .a {
            background-color: rgb(37, 255, 37);
            opacity: 1;
            width: 480px;
            height: 75px;
            text-align: center;
            vertical-align: middle;
            line-height: 75px;
        }
        .b {
            background-color: rgba(83, 14, 14, 0.719);
            float: left;
            width: 480px;
            height: 150px;
            text-align: center;
            vertical-align: middle;
            line-height: 150px;
        }
        .cd{
            width: 480px;
            height: 250px;
            background-color: rgb(147, 3, 230);
            position: relative;
            text-align: center;
            vertical-align: middle;
            line-height: 125px;
        }
        .c {
            background-color: rgb(110, 98, 31);
            width: 480px;
            height: 125px;
        }
        .d {
            background-color: rgb(30, 124, 119);
            width: 480px;
            height: 125px;
            position: absolute;
            top: 125px;
            left: 0;
        }
        .efgh{
            background-color: rgba(45, 136, 41, 0.521);
            display: inline-block;
            height: 500px;
            width: 480px;
            position: relative;
            text-align: center;
            vertical-align: middle;
            line-height: 240px;
        }
        .e{
            background-color: rgb(165, 197, 21);
            height: 250px;
            width: 240px;
        }
         .f{
            background-color: rgba(24, 3, 3, 0.301);
            height: 250px;
            width: 240px;
            position: absolute;
            top: 0;
            left: 240px;
        }
        .g{
            background-color: rgba(47, 73, 16, 0.342);
            height: 250px;
            width: 240px;
            position: absolute;
            top: 250px;
            left: 0px;
        }
        .h{
            background-color: rgb(138, 46, 46);
            height: 250px;
            width: 240px;
            position: absolute;
            top: 250px;
            left: 240px;
        }
        .i{
            height: 80px;
            width: 480px;
            position: absolute;
            left: 0;
            text-align: center;
            vertical-align: middle;
            line-height: 80px;
        }
        
    }